<div class="container-fluid text-center">

	<h1 id="maroon"> All teams </h1>


	<div class="teams" id="allteams">
		<%= render 'list' %>
	</div>


	<br>
	<p> <%= link_to 'new team', new_team_path, id: 'new_link', remote: true, class: 'btn btn-info button4' %> </p>

	<br>
	<p>	<%= link_to 'Cancel', :back, class: 'btn btn-danger button4' %> </p>

<!-- main div -->
</div>