<nav class="navbar-fixed-bottom bg-faded"> 
	<div class="container-fluid" style="padding-bottom: 8px;">
  	<%= link_to 'Save a new match', new_game_path, class: 'btn bg-primary btn-block round10' %>
	</div>
</nav>