<div class="container-fluid landing-image">
    
    <h1 id="tema"> <strong> Soccer Scores </strong></h1>
    <br>
    <h1 id="tema" > Your favorite place to save your results</h1>
    <br>

    <h3 class="text-faded text-center white">Soccer Scores can help you keep track the football games you play with your friends. Have you ever had friends keep telling you that they have the upper hand on your rivalry with them even tho it is not true ? Now it is time to prove it ..</h3>

    <br>
    <div class="text-center">
        <a class="btn btn-primary btn-xl js-scroll-trigger tema" href="/login">Get Started</a> 
    </div>

</div>